/.vscode/tasks.json
/circulo
/circulo2
/contador
/.vscode/c_cpp_properties.json
/circulo3
/class
/constructor2
/construtor3
/dadopublic
/destrutor2
/funcoesmembro
/funcoesmembro2
/programacao_c++.lyx~
